@using RecipesSharingPlatform.Data.Models;
@model ApplicationUser


<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>User Profile</h1>
        <table>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>First Name</td>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>@Model.LastName</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.Email</td>
            </tr>
        </table>
    



 <form method="post" asp-controller="User" asp-action="DeleteAccount" asp-route-id="@Model.Id" onsubmit="return confirm('Are you sure you want to delete your account?');">
            <button type="submit" class="btn btn-danger">Delete Account</button>
        </form>
    </div>

    <a asp-controller="User" asp-action="DownloadUserData" asp-route-id="@Model.Id" class="btn btn-primary">Download Personal Data</a>
</body>
</html>

